<div class="sidebar col-3  float-start position-fixed h-100 m-0 " style="height: 1285px;" >

    <!-- cuadro de la foto de perfil en el sidebar-->
    <div class=" picture mt-2">

        <a routerLink="/profile" class="text-decoration-none " style="color: black;">
            <div class="subcontenedor h-100 d-flex justify-content-center">
                <img *ngIf="avatarUrl" [src]="avatarUrl" alt="Avatar" class="avatar-img"
                    class="rounded-circle object-fit-contain" height="50">
            </div>

            <div class="subcontenedor h-100 d-flex justify-content-center ">
                Bienvenido {{nombre_usuario}}
            </div>
        </a>
    </div>

    <hr>

    <!-- Opciones del sidebar-->
    <ul class="nav  flex-column ">

        <li class="nav-item" (click)="setActive('profile',true)" [ngClass]="{'active': activeLink === 'profile'}">
            <!-- al darle click se indica a que elemento se le va a asignar la clase active -->
            <a class="nav-link fs-4 d-flex flex-column align-items-center" aria-current="page" routerLink="/profile"
                routerLinkActive="active">
                <p class="d-flex justify-content-center">Perfil</p>
                <img height="30" src="/nav_bar_icons/home.png" alt="img" class="object-fit-contain">
            </a>
        </li>

        <li class="nav-item " (click)="setActive('dashboard',false)" [ngClass]="{'active': activeLink === 'dashboard'}">
            <a class="nav-link fs-4 d-flex flex-column justify-content-center " routerLink="/dashboard"
                routerLinkActive="active">
                <p class="d-flex justify-content-center">Dashboard</p>
                <img height="30" src="/nav_bar_icons/analisis.png" alt="img" class="object-fit-contain">
            </a>
        </li>

        <li class="nav-item" (click)="setActive('tasks',true)" [ngClass]="{'active': activeLink === 'tasks'}">
            <a class="nav-link fs-4 d-flex flex-column justify-content-center" routerLink="/tasks">
                <p class="d-flex justify-content-center">Tareas</p>
                <img height="30" src="/nav_bar_icons/tasks.png" alt="img" class="object-fit-contain">
            </a>
        </li>

        <li class="nav-item" (click)="setActive('to-do',true)" [ngClass]="{'active': activeLink === 'to-do'}">
            <a class="nav-link fs-4 d-flex flex-column justify-content-center" routerLinkActive="active"
                routerLink="/to-do">
                <p class="d-flex justify-content-center">To-do</p>
                <img height="30" src="/nav_bar_icons/to-do.png" alt="img" class="object-fit-contain">
            </a>
        </li>

    </ul>
    <hr>
    <!-- Buton para cerrar sesión -->
    <div class="btn-group dropup d-flex justify-content-center mt-5 ">
        <a type="button" href="#" class="  d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <strong class=""> {{nombre_usuario}}</strong>
        </a>

        <ul class="dropdown-menu btn-user ">
            <li><a class="dropdown-item sign-out" (click)="logout()">Cerrar sesión</a></li>
        </ul>
        
    </div>

</div>