.stats {
    border-color: #8EC6C5;
    background-color: #F5F5F5;
    transition: all 0.3s ease;
}


/*Efectos de hover*/
.stats:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fffdfd;

}



