.reset-button:hover {
    background-color: #89c4ff;

}

.isMovil {
    display: none;
}




/*para Moviles*/

@media (max-width: 998px) {
    .isMovil {
        display: block;
    }

    input::placeholder {
        color: rgb(38, 34, 34);
        opacity: 1;
        /* Con esto nos aseguramos que el placeholder sea totalmente visible */
    }
}