<div class="float-start col-xl-9 col-lg-9 col-md-12 col-sm-12 h-auto p-4 ">
    <!-- Bienvenida a la aplicación-->
    <h1>Bienvenid&#64; {{username}} a tu aplicación web To-Do, desarrollada por <p>&copy; Dario Veliz 2025</p>
    </h1>
    <h2>¡Inicia la aventura de organizar tus tareas de manera eficiente y sencilla!</h2> <br>
    <h3>Crea tu primera tarea y comienza a disfrutar de una experiencia más ordenada.</h3>
    <br>
    <!-- Formulario para crear tareas-->
    <app-form-task-manager></app-form-task-manager>
</div>